.task_checked{
    text-decoration: line-through;
}

ul{
    padding: 0px;
}

li{
    list-style-type: none;
}

.sortable_icon{
    position: absolute;
}

.task{
    margin: 5px 0px;
    border: 1px solid black;
}

.task_detail{
    margin-left: 19px;
}

.out_of_task{
    background-color: gainsboro;
}